In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("titanic.csv")

this is a comment

In [3]:
df.head(4)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000

In [4]:
df.describe()

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.32920

<b>Average age of all passengers:</b>

In [5]:
round(df["Age"].mean(), 1)

29.5

<b>Average fair of all passengers:</b>

In [6]:
round(df["Fare"].mean(), 1)

32.3

<b>Average age of all passengers split by sex:</b>

In [7]:
round(df.groupby("Sex").mean()["Age"], 1)

Sex
female    27.7
male      30.4
Name: Age, dtype: float64

<b>Average fare of all passengers split by sex:</b>

In [8]:
round(df.groupby("Sex").mean()["Fare"], 1)

Sex
female    44.5
male      25.6
Name: Fare, dtype: float64

<b>Percentage of passengers that survived total:</b>

In [9]:
round((df["Survived"]).value_counts()[1] / len(df.index) * 100, 2)

38.56

<b>Percentage of passengers that survived total by sex:</b>

In [10]:
round((df[df["Survived"] == 1].loc[:, ["Sex", "Survived"]]).groupby(["Sex"]).count() / df["Survived"].count() * 100, 2)

        Survived
Sex
female     26.27
male       12.29

<b>Percentage of passengers that survived by class:</b>

In [13]:
df[["PClass","Survived"]]

KeyError: "['PClass'] not in index"